In [1]:
import numpy as np
import pandas as pd

In [2]:
air = pd.read_csv('C:\\Users\\Administrator\\Desktop\\Python Assignments\\DataSets\\Airquality.csv')
air.head()

   Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
0           1   41.0    190.0   7.4    67      5    1
1           2   36.0    118.0   8.0    72      5    2
2           3   12.0    149.0  12.6    74      5    3
3           4   18.0    313.0  11.5    62      5    4
4           5    NaN      NaN  14.3    56      5    5

In [3]:
#1.	Fetch the observations for 9 day of June
air[air.Month==6][air.Day==9]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

    Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
39          40   71.0    291.0  13.8    90      6    9

In [4]:
#2.	Find Average temperature for the month of June
air[air.Month==6]['Temp'].mean()

79.1

In [5]:
#3.	To which day of June has the least temperature
air[air.Month==6][['Day','Temp']].min()

Day      1
Temp    65
dtype: int64

In [6]:
#4.	Find Maximum Ozone value for the month of May
air[air.Month==5]['Ozone'].max()

115.0

In [7]:
#5.	Find the count of the missing values in the ozone column of the data set
air.Ozone.isnull().sum()

37

In [8]:
#6.	Find out What is the mean of the Ozone column in this dataset
air['Ozone'].agg({'Ozone' : 'mean'})

Ozone    42.12931
Name: Ozone, dtype: float64

In [9]:
#7.	Find out which month has the highest temperature
air[air.Temp== air.Temp.max()]['Month']

119    8
Name: Month, dtype: int64

In [10]:
#8.	Find out the wind value when the Ozone becomes maximum
air[air.Ozone==air.Ozone.max()]['Wind']

116    3.4
Name: Wind, dtype: float64

In [11]:
#9.	Find out the months for which the airquality observations have been carried out
list(air.Month.unique())

[5, 6, 7, 8, 9]

In [12]:
#10.	Find the Ozone and temperature values for the 1st observation of every month.
air[air.Day==1][['Day','Ozone','Temp']]

     Day  Ozone  Temp
0      1   41.0    67
31     1    NaN    78
61     1  135.0    84
92     1   39.0    81
123    1   96.0    91

In [13]:
#11.	Which day of which month corresponds to the least Ozone Value. 
air[air.Ozone==air.Ozone.min()][['Day', 'Month']]

    Day  Month
20   21      5

In [14]:
#12.	Convert the temperature for all the observations to Centigrade scale
air['temp_centi'] = ((air.Temp - 32) * (5/9))
air.head(n=5)

   Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day  temp_centi
0           1   41.0    190.0   7.4    67      5    1   19.444444
1           2   36.0    118.0   8.0    72      5    2   22.222222
2           3   12.0    149.0  12.6    74      5    3   23.333333
3           4   18.0    313.0  11.5    62      5    4   16.666667
4           5    NaN      NaN  14.3    56      5    5   13.333333